<a href="https://colab.research.google.com/github/SaiManjithMatta/Assignment_1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
# Question 1

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted_ages_list = sorted(ages)

#1 sorting the given list and storing into a new list and displaying minimum and max age
print("Sorted list:",sorted_ages_list)
print("Min age =",sorted_ages_list[0],"Max age =",sorted_ages_list[-1])
min = sorted_ages_list[0]
max = sorted_ages_list[-1]

#2 adding min and max to the list
sorted_ages_list.append(min)
sorted_ages_list.append(max)

length = len(sorted_ages_list)
print("After appending the elements: ",sorted_ages_list)

#Finding the median
if length % 2 == 0 :
    median_1 = sorted_ages_list[length//2]
    median_2 = sorted_ages_list[length//2 - 1]
    median = (median_1+median_2)//2
    print("Median :",median)
else :
  median=sorted_ages_list[length//2]
  print("Median = ",median)

#finding the sum
length = len(sorted_ages_list)
sum = 0
for i in range (0,length,1):
  sum = sum + sorted_ages_list[i]

# finding the average
average = sum/length
print("Average :",average)

# finding the range
Range = sorted_ages_list[-1] - sorted_ages_list[0]
print("Range :",Range)

Sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age = 19 Max age = 26
After appending the elements:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median : 24
Average : 22.75
Range : 7

In [33]:
# Question 2
# empty dictionary called dog
dog = {}
#Adding the keys name, color, breed, legs, age to the dog dictionary
dog = {"name":None, "color":None, "breed":None, "legs":None, "age":None}
#Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary
student = {
    "first_name":None,
    "last_name":None, 
    "gender":None, 
    "age":None,
    "marital status":None,
    "skills":None, 
    "country":None, 
    "city":None, 
    "address":None
}
#length of the student dictionary
print("\nThe length of Student dictionary is : ",len(student))

student = {
    "first_name":'Sai Manjith',
    "last_name":'Matta', 
    "gender":'Male', 
    "age":'22',
    "marital status": 'Unmarried',
    "skills":['Analytical writing','Critical Thinking','Thinking out of box'], 
    "country":'United states', 
    "city":'Overland park', 
    "address":'12557 Hardy Street'
}
print("\nType :",type(student['skills']))
#value of skills and check the data type
print("\nThe skills are:",student.get('skills'))
#Modify the skills values by adding one or two skills
student['skills'].append("Pressure handling")
print("\nThe skills are adding an extra skill:",student.get('skills'))
#Get the dictionary keys as a list
print("\nThe keys in student dictionary :",student.keys())
#Get the dictionary values as a list
print("\nThe values in student dictionary :",student.values())

The length of Student dictionary is :  9

Type : <class 'list'>

The skills are: ['Analytical writing', 'Critical Thinking', 'Thinking out of box']

The skills are adding an extra skill: ['Analytical writing', 'Critical Thinking', 'Thinking out of box', 'Pressure handling']

The keys in student dictionary : dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

The values in student dictionary : dict_values(['Sai Manjith', 'Matta', 'Male', '22', 'Unmarried', ['Analytical writing', 'Critical Thinking', 'Thinking out of box', 'Pressure handling'], 'United states', 'Overland park', '12557 Hardy Street'])

In [16]:
# Question 3

brothers = ("Greesh", "Sree", "Madhav")
sisters = ("Tejaswi", "Ramya")
# joining two tuples
siblings = brothers+sisters
print("\nAfter adding brothers and sisters: ",siblings)
print("\nThe length of siblings :",len(siblings))
# adding up father_name and mother_name
siblings = siblings + ("Father_name","Mother_name")
# assigning the updated to the family_members
family_members = siblings
print("\nAfter adding father and mother name :",family_members,"\n")

After adding brothers and sisters:  ('Greesh', 'Sree', 'Madhav', 'Tejaswi', 'Ramya')

The length of siblings : 5

After adding father and mother name : ('Greesh', 'Sree', 'Madhav', 'Tejaswi', 'Ramya', 'Father_name', 'Mother_name')

In [36]:
# Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#1 length of the set it_companies
length = len(it_companies)
print("Length :",length)
print("\nit_companies:", it_companies)

#2 Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("\nAter adding a company, it_companies:",it_companies)

#3 Insert multiple IT companies at once to the set it_companies
new_companies = ['mindtree','accenture','sigma']
it_companies.update(new_companies)
print("\nAter adding multiple companies, it_companies:",it_companies)

#4 Remove one of the companies from the set it_companies
it_companies.remove('Apple')
print("\nAter deleting a company(i.e., Apple) it_companies: ",it_companies)

#5 What is the difference between remove and discard
'''
The difference between remove and discard is if we want to delete an element in the set that is not
present in the set by using remove then gives an error whereas discard
doesn't show any error it just keeps the set un disturbed
'''
print("\ndicard usage",it_companies.discard('Tekaroon'))

#6 Join A and B
c=B.union(A)
print("\nAfter joining A and B, the resultant set:",c)

#7 Find A intersection B
Common = A.intersection(B)
print("\nIntersection set :",Common)

#8 Is A subset of B
print("\nA is subset of B (True/False) :",A.issubset(B))

#9 Are A and B disjoint sets
print("\nAre A and B disjoint sets (True/False) :",A.isdisjoint(B))

#10 Join A with B and B with A
     # joining A with B
print("\nJoining A with B:",A.union(B))
print("Joining B with A:",B.union(A))

#11 What is the symmetric difference between A and B
print("\nThe symmentric difference is : ",A.symmetric_difference(B))

#12 Delete the sets completely
del A
del B


#13 Convert the ages to a set and compare the length of the list and the set
Set = set(age)
print("\nConverted to set",Set)
print("\nThe length of list is :",len(age),"and set is :",len(Set))

Length : 7

it_companies: {'Google', 'Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Facebook'}

Ater adding a company, it_companies: {'Google', 'Amazon', 'Twitter', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Facebook'}

Ater adding multiple companies, it_companies: {'sigma', 'Google', 'Amazon', 'Twitter', 'Oracle', 'IBM', 'Apple', 'accenture', 'mindtree', 'Microsoft', 'Facebook'}

Ater deleting a company(i.e., Apple) it_companies:  {'sigma', 'Google', 'Amazon', 'Twitter', 'Oracle', 'IBM', 'accenture', 'mindtree', 'Microsoft', 'Facebook'}

dicard usage None

After joining A and B, the resultant set: {19, 20, 22, 24, 25, 26, 27, 28}

Intersection set : {19, 20, 22, 24, 25, 26}

A is subset of B (True/False) : True

Are A and B disjoint sets (True/False) : False

Joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}

The symmentric difference is :  {27, 28}

Converted to set {19, 22, 24, 25, 26}

The length of list is : 8 and set is : 5

In [8]:
# Question 5

import math

constant = math.pi
radius = 30

#Area of a circle Finding
_area_of_circle_ = constant * radius * radius
print("Area :",_area_of_circle_)

#Circumference Finding
_circum_of_circle_= 2 * constant * radius
print("Circumference :",_circum_of_circle_)

#taking input (dynamically)
new_radius = float(input("Enter the radius value: "))
Area = constant * new_radius * new_radius

print("for given radius = ",new_radius,"\nArea :",Area)

Area : 2827.4333882308138
Circumference : 188.49555921538757
Enter the radius value: 10
for given radius =  10.0
Area : 314.1592653589793

In [30]:
# Question 6

sentence = "I am a teacher and I love to inspire and teach people"

#splitting the string for getting the individual elements
Split = sentence.split(" ")
sp_set = set(Split)
print("Set: ",sp_set)
print("Number of unique words: ",len(sp_set))

Set:  {'a', 'and', 'am', 'teacher', 'teach', 'inspire', 'I', 'people', 'love', 'to'}
Number of unique words:  10

In [ ]:
# Question 7

print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
# Question 8

radius = 10
area = int(3.14 * radius ** 2)

#sting formating
formatted_area = 'The area of circle with radius {} is {} meters square.'.format(radius, area)  
print(formatted_area)

The area of a circle with radius 10 is 314 meters square.

In [35]:
# Question 9

# Dynamically taking the input
n = int(input('Enter the length:'))

# creating two lists one for lbs and other for kgs
list = []
con_list =[]
for i in range (0,n,1) :
    p =  float(input('Enter the value:'))
    list.append(p)

for i in range (0,n,1):
      q = list[i] * 0.453592
      con_list.append(round(q,2))
print("\nConerted to kgs: ",con_list)

Enter the length:4
Enter the value:150
Enter the value:155
Enter the value:145
Enter the value:148

Conerted to kgs:  [68.04, 70.31, 65.77, 67.13]